<table *ngIf="products && products.length > 0" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Retailer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><a title="See product details" [routerLink]="['/products', product.id]">{{product.name}}</a></td>
      <td><a title="See product details" [routerLink]="['/products', product.id]">{{product.price}}</a></td>
      <td><a title="Find out all products listed by this retailer" [routerLink]="['/retailers', product.retailer.id]">{{product.retailer.name}}</a></td>
    </tr>
  </tbody>
</table>

<span *ngIf="!products || products.length === 0" class="text-secondary">No products found.</span>