body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#666, #111)
}

h2{
    margin: 0;
}

.main {
    background-color: rgb(248, 163, 134);
    height: 100%;
    max-width: 999px;
    margin: 0 auto;
}

.top {
    height: 100px;
    background-size: 100px;
    background: url("../images/background.png");
}

.middle-block {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-block .text {
    color: #fff;
}

.middle-block .text span {
    display: inline-block;
    text-transform: uppercase;
}

.middle-block .text #first-line {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: "Dosis";
}

.middle-block .text #second-line {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 44.5px;
    line-height: 44.5px;
}

.middle {
    background-color: rgb(192, 222, 220);
    background-position-y: 50px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px 0 10px 0;
    z-index: 0;
}

.middle-in {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    height: 66px;
}

.image {
    background: url("../images/telephone.png");
    background-size: 200px;
    width: 200px;
    height: 183px;
}

.bottom {
    margin-top: 86px;
}

/* Table CSS */

#table {
    margin: 0 20px 0 20px;
    background-color: white;
    border-top: 4px solid rgb(192, 222, 220);
    min-width: 390px;
    text-align: right;
}

#tableContent {
    border: 1px solid #d2d6de;
    border-top: 4px solid rgb(192, 222, 220);
    border-bottom: 4px solid rgb(192, 222, 220);
    background-color: white;
}

table {
    font-family: "Open Sans", "sans-serif";
    width: 100%;
    border-collapse: colapse;
    border-spacing: 0px 0px;
}

table thead tr {
    font-weight: bold;
}

table thead tr th,
table tbody tr td {
    padding: 12px 0 12px 0;
    text-align: left;
    border-bottom: 1px solid rgb(192, 222, 220);
}

table tbody tr:hover {
    background-color: #F0F0F0;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr td:last-child {
    width: 16%;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    padding-left: 12px;
    ;
    margin: 0;
    width: 6%;
}

table tbody a {
    text-decoration: none;
    color: black;
}

table tbody a:hover {
    text-decoration: underline;
}

table tbody a:first-child+a:before {
    content: "|";
    padding: 0 10px 0 10px;
}

/* End Table CSS */

/* Modal Window CSS */

.formContent,
.formModalContent {
    font-family: "Open Sans", "sans-serif";
    margin: 0 auto;
    text-align: center;
    border: 1px solid #d2d6de;
    border-top: 4px solid rgb(192, 222, 220);
    border-bottom: 4px solid rgb(192, 222, 220);
    background-color: white;
    min-width: 390px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    height: 240px;
    width: 700px;
    min-width: 390px;
    max-width: 700px;
    margin: 0 24px;

    text-align: left;
    padding: 20px 20px 0 20px;
}

.formModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 140px;
}

.messageDelete {
    margin-bottom: 24px;
}

.formModal .buttonGroup .button-save {
    margin-right: 20px;
}

#formAddCar {
    text-align: left;
}
#formAddCar input[name=prefix] {
    width: 22px;
    text-align: right;
}
#formAddCar label span {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
}

.validationMessage {
    width: 98%;
    color: black;
    background-color: rgba(248, 163, 134, 0.5);
    height: 20px;
    line-height: 20px;
    border:1px solid rgba(245, 136, 100, 0.5);
    padding: 6px;
    display: none;
}

/*End Modal Window CSS */

/* Buttons and links */

.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 30px;
    padding: 0 20px 0 20px;
    margin: 0;
    text-transform: capitalize;
    border-radius: 4px;
    cursor: pointer;
}

.buttonAdd {
    color: white;
    background-color: #3c8dbc;
    border-color: #367fa9;
    margin: 10px 10px 10px 0;
}

.buttonSave {
    color: white;
    background-color: #3c8dbc;
    border-color: #367fa9;
    margin-right: 10px;
}

.buttonCancel {
    color: white;
    background-color: rgb(248, 163, 134);
    border-color: rgb(245, 136, 100);
}

.buttonGroup {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row;
    width: 100%;
}

/* End Buttons and links*/