<div class="container">

  <!-- Title -->
  <div class="row">
    <div class="col-md-12">
      <h1>Add a new product</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form>

        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" class="form-control" [(ngModel)]="product.name" name="name" id="name" placeholder="Name">
          <span class="text-danger" *ngIf="validationErrors.name && product.name.trim().length === 0">{{validationErrors.name[0]}}</span>
        </div>

        <div class="form-group">
          <label for="price">Price *</label>
          <input type="number" class="form-control" [(ngModel)]="product.price" name="price" id="price" placeholder="Price">
          <span class="text-danger" *ngIf="validationErrors.price && product.price === 0">{{validationErrors.price[0]}}</span>
        </div>

        <div class="form-group">
          <app-retailers-dropdown (retailerSelectedEvent)="setRetailerId($event)"></app-retailers-dropdown>
          <span class="text-danger" *ngIf="validationErrors.retailerId && product.retailerId === 0">You must select a retailer</span>
        </div>

        <div class="form-group">
          <label for="description">Description *</label>
          <textarea class="form-control" [(ngModel)]="product.description" name="description" id="description"
            placeholder="Provide some information about this product" rows="3"></textarea>
            <span class="text-danger" *ngIf="validationErrors.description && product.description.trim().length === 0">{{validationErrors.description[0]}}</span>
        </div>

        <div class="form-group">
          <button class="btn btn-large btn-round btn-primary" (click)="save()" type="button">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>